@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:"Roboto", sans-serif;
    scroll-behavior: smooth;
}

.logo a {
    font-size: 24px;
    color: #F9FAF8;
}

.logo a:hover {
    color: #3882F6;
}

.navbar a {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 20px; 
}

.navbar a:hover {
    color: #3882F6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 20px 200px;
    position: fixed;
    width: 100%;

}

.main {
    background-color: #1F2937;
    padding: 70px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main-info h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.main p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.main-info {
    color: #F9FAF8;
    padding-bottom: 20px;
    width: 500px;
}

.btn {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    padding: 10px;
    font-weight: 800;
    cursor: pointer;;
}

.main img {
    width: 600px;
    height: 450px;
}

.features h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    padding: 30px;
    color: #1F2937;
}

.container-feature {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 50px 70px 70px;
    justify-content: center;
    gap: 50px;
}

.feature-box {
    width: 200px;
    text-align: center;
}

.container-feature img {
    height: 200px;
    width: 200px;
    border: 6px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 20px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 400px;
}

.testimonial-box {
    width: 50%;
    color: #1F2937;
    font-size: 36px;
}

.testimonial h3 {
    width: 50%;
    text-align: end;
    padding-top: 20px;
    font-size: 25px;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    width: 60%;
    background-color: #3882F6;
    margin: 7% auto;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.info {
    padding: 5% 10%;
    color: #F9FAF8;
}

.info h3 {
    font-size: 25px;
    margin-bottom: 8px;
}

.info button {
    border: 3px solid #F9FAF8;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box {
    color: #F9FAF8;
    font-size: 20px;
    margin: 40px auto;
}